BOT_TOKEN=
BOT_PROXY_URL=

DATABASE_URL=

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_STRING=

QUIET_HOURS_ENABLED=false
QUIET_HOURS_START=22:00
QUIET_HOURS_END=09:00

GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SHEET_ID=

APP_ENV=production
LOG_LEVEL=INFO
